<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.decorators">
		<decorator
        adaptable="true"
        class="jass.modern.eclipse.ui.decorator.ContractDecorator"
        icon="icons/dbc2_ov.gif"
        id="dbc4j.eclipse.decorator"
        label="Contract Decorator"
        lightweight="true"
        state="true">
			<enablement>
				<objectClass name="org.eclipse.core.resources.IResource"/>
			</enablement>
			<description>
				Decorates classes and methods which define contracts
			</description>
		</decorator>
	</extension>
 <extension
       point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
          class="jass.modern.eclipse.classpath.ClasspathContainerPage"
          id="dbc4j.eclipse.classpathContainerPage"
          name="Modern Jass"/>
 </extension>
 <extension
       point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
    <factories>
       <factory
             class="jass.modern.eclipse.apt.jsr175.ModernJassAnnotationProcessorFactory">
       </factory>
    </factories>
 </extension>
 <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
          class="jass.modern.eclipse.classpath.ClasspathContainerInitializer"
          id="jass.modern.eclipse.classpathContainerInitializer">
    </classpathContainerInitializer>
 </extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="jass.modern.eclipse.actionSet"
          label="Modern Jass"
          visible="true">
       <action
             allowLabelUpdate="true"
             class="jass.modern.eclipse.ui.action.RunContractsAction"
             icon="icons/lrun_modern_jass.gif"
             id="jass.modern.eclipse.launchAction"
             label="Run Contracts Enabled"
             pulldown="true"
             state="true"
             style="pulldown"
             toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
       </action>
          <action
             allowLabelUpdate="true"
             class="jass.modern.eclipse.ui.action.DebugContractsAction"
             icon="icons/debug_exc.gif"
             id="jass.modern.eclipse.launchAction"
             label="Debug Contracts Enabled"
             pulldown="true"
             state="true"
             style="pulldown"
             toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
       </action>
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
          class="jass.modern.eclipse.ui.preferences.WorkbenchPreferencePage"
          id="jass.modern.eclipse.preferences"
          name="Modern Jass">
       <keywordReference
             id="jass.modern.pref.compiler">
       </keywordReference>
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.keywords">
    <keyword
          id="jass.modern.pref.compiler"
          label="modern jass compiler contracts specification">
    </keyword>
 </extension>

</plugin>
